
*.cpp linguist-vendored
*.hpp linguist-vendored
*.cc linguist-vendored
*.c linguist-vendored
*.h linguist-vendored
*.cu linguist-vendored
*.cuh linguist-vendored


CMakeLists.txt linguist-vendored
*.cmake linguist-vendored


*.glsl linguist-vendored
*.vert linguist-vendored
*.frag linguist-vendored
*.geom linguist-vendored
*.comp linguist-vendored


*.plt linguist-vendored
*.gnu linguist-vendored
*.gnuplot linguist-vendored


*.bat linguist-vendored
*.cmd linguist-vendored


*.cxx linguist-vendored
*.hxx linguist-vendored
*.inl linguist-vendored
*.cmake.in linguist-vendored